.App{
    display: flex;
    flex-wrap: wrap;
    background: darkgray;
}
.simpsonsBlock, .rmBlock{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
.header{
    width: 100%;
    text-align: center;
    font-size: 30px
}
.simpsonCard{
    width: 18%;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
}
.simpsonPic{
    width: 150px;
}
.simpsonName{
    width: 100%;
    text-align: center;
}
.rmCard{
    width: 28%;
    border: 1px solid black;
    border-radius: 5px;
    background: whitesmoke;
}
.rmCardTitle{
    width: 100%;
    text-align: center;
    font-size: 13pt;
}
.rmCardPic{
    width: 100%;
}
