.launches{
    display: flex;
    flex-wrap: wrap;
    background: space;
    row-gap: 25px;
    justify-content: space-evenly;
    background: #00001E;
}
.launch{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: #3E5774;
}
.launch:hover{
    background: whitesmoke;
}
.picture{
    height: 150px;
    width: 150px;
}
.launchName{
    text-align: center;
}